@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto",sans-serif;
    color: #545454;
}

.hero-container {
    background-image: url("./images/header_background.JPG");
}